---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Init from '../components/Init.astro';
import About from '../components/About.astro';
import Brand from '../components/Brand.astro';
import Testimonials from '../components/Testimonials.astro';
import FAQ from '../components/FAQ.astro';
import News from '../components/News.astro';
---

<Layout title="GreenCRE - Club Real Enthusiasts">
	<Header />
	<main class="relative flex flex-col gap-12 md:gap-20 py-4 min-[562px]:gap-28 justify-center items-center [&>*]:px-4 [&>*]:lg:px-0">
		<Init />
		<About />
		<Brand />
		<Testimonials />
		<FAQ />
		<News />
	</main>
</Layout>

<style>

</style>
