---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="GreenCRE - Club Real Enthusiasts">
	<Header />
	<main>
		
	</main>
</Layout>

<style>

</style>
