---
import image1 from "../assets/images/parts/part1.jpg"

---

<section class="max-w-4xl m-auto w-full flex flex-col justify-center items-start gap-12 font-medium">

    <article class="flex flex-col gap-4 justify-center items-start">
        <h2 class="text-4xl font-extrabold">Why GreenCRE?</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam eaque optio deleniti facilis explicabo delectus, iusto sapiente laboriosam reprehenderit, alias eius dignissimos iure commodi at non qui officia atque! Soluta excepturi molestiae hic nihil reiciendis alias ipsam aspernatur quaerat, eum consectetur quisquam officiis, optio facere odio sapiente vel eius voluptates ut vero, voluptatibus pariatur asperiores sed iure? Quis, voluptatem unde?</p>
    </article>

    <article class="flex flex-col gap-8 justify-center items-start">
        <header class="flex flex-col gap-4 justify-center items-start">
            <h3 class="text-2xl font-bold">About us</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda dignissimos accusamus iure maxime beatae magnam iusto suscipit cupiditate est, aspernatur nostrum nisi illum libero vitae fuga, qui voluptas consectetur! Aspernatur eveniet hic iusto vel, doloremque aliquid officia adipisci enim perspiciatis, mollitia a illum id pariatur incidunt? Voluptates, inventore nihil impedit nisi eius consequuntur repellendus laborum harum, magnam molestias doloribus. Neque!</p>
        </header>
        
        <article class="flex flex-col gap-6 justify-center items-start">
            <h3 class="text-2xl font-bold">How we help</h3>

            <section class="w-full flex flex-row flex-wrap gap-x-4 gap-y-6 items-center justify-center min-[656px]:justify-start
            [&>*]:max-w-40 [&>*]:lg:max-w-52 [&_h6]:min-[562px]:text-lg [&>*]:flex [&>*]:flex-col [&>*]:gap-2 [&>*]:justify-center [&>*]:items-center">
    
                <article>
                    <header class="w-full">
                        <img class="w-full object-cover h-24 rounded-lg" src={image1?.src} alt="">
                    </header>
                    <div class="[&>h6]:font-semibold [&>p]:text-sm [&>p]:text-[#747474]">
                        <h6>Restaurants</h6>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore nihil quod possimus. Lorem ipsum dolor sit amet consectetur.</p>
                    </div>
                </article>

                <article>
                    <header class="w-full">
                        <img class="w-full object-cover h-24 rounded-lg" src={image1?.src} alt="">
                    </header>
                    <div class="[&>h6]:font-semibold [&>p]:text-sm [&>p]:text-[#747474]">
                        <h6>Restaurants</h6>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore nihil quod possimus. Lorem ipsum dolor sit amet consectetur.</p>
                    </div>
                </article>

                <article>
                    <header class="w-full">
                        <img class="w-full object-cover h-24 rounded-lg" src={image1?.src} alt="">
                    </header>
                    <div class="[&>h6]:font-semibold [&>p]:text-sm [&>p]:text-[#747474]">
                        <h6>Restaurants</h6>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore nihil quod possimus. Lorem ipsum dolor sit amet consectetur.</p>
                    </div>
                </article>

                <article>
                    <header class="w-full">
                        <img class="w-full object-cover h-24 rounded-lg" src={image1?.src} alt="">
                    </header>
                    <div class="[&>h6]:font-semibold [&>p]:text-sm [&>p]:text-[#747474]">
                        <h6>Restaurants</h6>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore nihil quod possimus. Lorem ipsum dolor sit amet consectetur.</p>
                    </div>
                </article>

            </section>
        </article>
    
    </article>

</section>