---
---

<section class="max-w-4xl m-auto w-full flex flex-col justify-center items-start gap-6">
    <article class="relative w-full p-4 min-[380px]:p-12 rounded-lg text-white flex flex-col gap-48 justify-center items-start">

        <div class="z-10"></div>

        <footer class="z-10 flex flex-col gap-6 justify-center items-start">
            <h4 class="text-4xl md:text-5xl font-extrabold">Cannabis club, welcome here</h4>
            <p class="font-medium">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque minima explicabo a commodi assumenda impedit officia error perspiciatis possimus consequatur eligendi exercitationem soluta minus magnam porro molestias provident, accusamus temporibus!</p>
            <a class="bg-[#1fe066] px-4 py-2 rounded-lg text-black font-medium" href="">Join the waitlist</a>
        </footer>

        <div class="w-full h-full z-0 image-1 bg-cover bg-center brightness-50 absolute top-0 left-0 right-0 bottom-0 rounded-lg"></div>

    </article>
</section>

<style>
    .image-1{
        background-image: url("../assets/images/lobby.png");
    }
</style>