---
import newsImage1 from "../assets/images/news/news1.jpg"
---

<section class="max-w-4xl m-auto w-full flex flex-col justify-center items-start gap-12">

    <header>
        <h2 class="text-3xl font-bold">Latest news</h2>
    </header>

    <section class="w-full flex flex-col gap-16 md:gap-12 justify-center items-start
    [&>article]:w-full [&>article]:flex [&>article]:flex-col-reverse [&>article]:lg:flex-row [&>article]:justify-between [&>article]:items-start [&>article]:gap-4">

        <article>
            <header class="flex flex-col gap-6 justify-center items-start">
                <div>
                    <h5 class="font-semibold text-xl">How to change a location of your cannabis club</h5>
                    <time class="text-[#727272] text-sm" datetime="">Jule 1, 2022 - 5 min read</time>
                </div>
                <a class="rounded-lg bg-[#dfdfdf] transition-colors duration-300 hover:bg-[#c4c4c4] font-medium py-2.5 px-5" href="#" target="_blank" rel="noopener noreferrer">Read more</a>
            </header>

            <footer>
                <a href="#" target="_blank" rel="noopener noreferrer">
                    <img class="w-64 h-40 object-cover rounded-lg" src={newsImage1?.src} alt="">
                </a>
            </footer>
        </article>

        <article>
            <header class="flex flex-col gap-6 justify-center items-start">
                <div>
                    <h5 class="font-semibold text-xl">How to change a location of your cannabis club</h5>
                    <time class="text-[#727272] text-sm" datetime="">Jule 1, 2022 - 5 min read</time>
                </div>
                <a class="rounded-lg bg-[#dfdfdf] transition-colors duration-300 hover:bg-[#c4c4c4] font-medium py-2.5 px-5" href="#" target="_blank" rel="noopener noreferrer">Read more</a>
            </header>

            <footer>
                <a href="#" target="_blank" rel="noopener noreferrer">
                    <img class="w-64 h-40 object-cover rounded-lg" src={newsImage1?.src} alt="">
                </a>
            </footer>
        </article>

        <article>
            <header class="flex flex-col gap-6 justify-center items-start">
                <div>
                    <h5 class="font-semibold text-xl">How to change a location of your cannabis club</h5>
                    <time class="text-[#727272] text-sm" datetime="">Jule 1, 2022 - 5 min read</time>
                </div>
                <a class="rounded-lg bg-[#dfdfdf] transition-colors duration-300 hover:bg-[#c4c4c4] font-medium py-2.5 px-5" href="#" target="_blank" rel="noopener noreferrer">Read more</a>
            </header>

            <footer>
                <a href="#" target="_blank" rel="noopener noreferrer">
                    <img class="w-64 h-40 object-cover rounded-lg" src={newsImage1?.src} alt="">
                </a>
            </footer>
        </article>

    </section>

</section>