---

---

<section class="max-w-4xl m-auto w-full flex flex-col justify-center items-start gap-12">

    <h2 class="text-3xl font-bold">What they say</h2>

    <section class="flex flex-col gap-8 justify-center items-start [&>*]:flex [&>*]:flex-col [&>*]:gap-2">

        <article>
            <header class="">
                <h6 class="font-bold text-lg">Jane</h6>
                <time class="text-[#727272]" datetime="">Jule 1, 2022</time>
            </header>
            <footer>
                <div>
                    <span class="[&>*]:text-2xl [&>*]:text-[#000000]">
                        <span>&#9733;</span>
                        <span>&#9733;</span>
                        <span>&#9733;</span>
                        <span>&#9733;</span>
                        <span>&#9733;</span>
                    </span>
                </div>  
                <p class="">Great Service! Lorem ipsum dolor sit amet. Lorem, ipsum dolor..</p>
            </footer>
        </article>

        <article>
            <header class="">
                <h6 class="font-bold text-lg">Jane</h6>
                <time class="text-[#727272]" datetime="">Jule 1, 2022</time>
            </header>
            <footer>
                <div>
                    <span class="[&>*]:text-2xl [&>*]:text-[#000000]">
                        <span>&#9733;</span>
                        <span>&#9733;</span>
                        <span>&#9733;</span>
                        <span>&#9733;</span>
                        <span>&#9733;</span>
                    </span>
                </div>  
                <p class="">Great Service! Lorem ipsum dolor sit amet. Lorem, ipsum dolor..</p>
            </footer>
        </article>
        
        <article>
            <header class="">
                <h6 class="font-bold text-lg">Jane</h6>
                <time class="text-[#727272]" datetime="">Jule 1, 2022</time>
            </header>
            <footer>
                <div>
                    <span class="[&>*]:text-2xl [&>*]:text-[#000000]">
                        <span>&#9733;</span>
                        <span>&#9733;</span>
                        <span>&#9733;</span>
                        <span>&#9733;</span>
                        <span>&#9733;</span>
                    </span>
                </div>  
                <p class="">Great Service! Lorem ipsum dolor sit amet. Lorem, ipsum dolor..</p>
            </footer>
        </article>


        <article>
            <header class="">
                <h6 class="font-bold text-lg">Jane</h6>
                <time class="text-[#727272]" datetime="">Jule 1, 2022</time>
            </header>
            <footer>
                <div>
                    <span class="[&>*]:text-2xl [&>*]:text-[#000000]">
                        <span>&#9733;</span>
                        <span>&#9733;</span>
                        <span>&#9733;</span>
                        <span>&#9733;</span>
                        <span>&#9733;</span>
                    </span>
                </div>  
                <p class="">Great Service! Lorem ipsum dolor sit amet. Lorem, ipsum dolor..</p>
            </footer>
        </article>

    </section>

</section>